/*Colors and fonts*/

body{
	background-color: #EBE9E9;
	color: #000000;
	font-family: serif;
	font-size: 17px;

}

h1, h2, h3 {
font-family: Californian FB;
}

h1{
	color: #A5243D;
	font-size: 40px;

}

h2{
	color: #172121;
	font-size: 25px;
	font-weight: bold;
}


a{
	text-decoration: none;
	color: #7871AA;
}


a:hover {
	color: black;

}



/*div{
	background: white;
	border:  2px solid black;
	margin: 10px;
}*/



/*Custom design with class*/

.container{
	width: 700px;
	margin: 40px auto;
}


@media (max-width: 760px){
	.container {
		width: 600px;
	}
}




@media (max-width: 500px){
	.container {
		width: 400px;
	}
}



.card-white{
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgda(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle{
	border-radius: 50%;
}

.btn-blue{
	background-color: #7871AA;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-blue:hover {
	background-color: black;
	color: white;
}


.list-inline{
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
	color: rgb(230, 230, 230);
}

.list-inline i:hover {
	color: black;
}

#introduction p {
	margin-bottom: 40px;
}